#hello{
    background-color: magenta;
}

#meow{
    background-image: url("https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg");
    color: white;
}

body {
    /* background-image: url("https://www.shutterstock.com/image-photo/sun-sets-behind-mountain-ranges-600nw-2479236003.jpg");
    background-repeat: no-repeat; /*for not repeating images*/
    /* background-position: right bottom;
    background-attachment: fixed; the image is fixed and not moves */
   /* background-repeat: repeat-x; /*repeats image in x axis alone*/
    /*background-repeat: repeat-y; repeats image in y axis alone */


    /*simply we can write in single line like*/
    background: url("https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg") no-repeat right;
}